.contacts
    &-submit
        margin: 0
    &-textarea
        margin-bottom: 10px
        padding: 5px
        width: 400px

    &-block
        background: #ccc
        padding: 10px 0
        text-align: center
    &-phone
        margin-bottom: 20px
        color: $lightred
        font-size: 24px
        font-weight: 700
        &__title
            font-size: 12px
            opacity: .5

    &-managers
        display: flex
        margin: 0 auto 20px
        width: 900px
        &__title
            font-size: 12px
            opacity: .5
    &-manager
        padding: 10px
        width: 300px
        &__img
            img
                width: 100%
        &__name
            padding: 5px 0
            background: $red
            color: #ffffff

    &-address
        margin-bottom: 10px
        font-weight: 700
        color: $red
        &__title
            color: $red

    &-gallery
        margin-top: 10px
        img
            margin-bottom: 5px
            width: 220px