.advantages
    &-title
        span
            display: block
    &-blocks
        position: relative
        left: -30px
        width: 100%
        height: 171px
    &-block
        display: flex
        padding: 15px
        position: absolute
        top: 0
        height: 171px
        width: 296px
        &:nth-child(odd)
            align-items: flex-end
            background: url(../img/advantages/triangle.png) center no-repeat
            -webkit-background-size: contain
            background-size: contain
        &:nth-child(even)
            align-items: flex-start
            background: url(../img/advantages/triangle2.png) center no-repeat
            -webkit-background-size: contain
            background-size: contain
        &:first-child
            left: 0
        &:nth-child(2)
            left: 175px
        &:nth-child(3)
            left: 350px
        &:nth-child(4)
            left: 525px
        &:last-child
            left: 700px

    &-info
        margin: 0 auto
        text-align: center
        width: 170px
        color: #fff
        position: relative
        left: 4px
    &-text
        font-size: 18px
    &-number
        font-size: 40px
        font-weight: 700

@media screen and (max-width: 991px)
    .advantages
        padding-bottom: 230px
        &-blocks
            left: 20px
        &-block
            &:nth-child(4)
                top: 185px
                left: 265px
            &:last-child
                top: 185px
                left: 92px

@media screen and (max-width: 767px)
    .advantages
        padding-bottom: 410px
        &-blocks
            left: -10px
        &-block
            &:nth-child(4)
                top: 185px
                left: 175px
            &:last-child
                top: 185px
                left: 0
            &:nth-child(3)
                top: 375px
                left: 90px

@media screen and (max-width: 499px)
    .advantages
        padding-bottom: 230px
        &-blocks
            margin: auto
            width: 320px
        &-block
            height: 115px
            width: 200px
            &:nth-child(even)
                left: 115px
            &:nth-child(4)
                top: 125px
            &:last-child
                top: 125px
            &:nth-child(3)
                top: 250px
                left: 115px

        &-text
            margin: auto
            width: 125px
            font-size: 13px
        &-number
            font-size: 22px