.page404
    &-title
        margin-bottom: 30px
        text-align: center
        font-size: 50px
        color: $lightRed
        text-transform: uppercase
    &-btn
        span
            font-weight: 700
            font-size: 20px
            &:first-child
                margin-bottom: 5px
                font-size: 20px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &-img
        width: 500px
        img
            width: 100%
    &-info
        width: 400px
    &-descr
        margin: 0 auto 20px
        width: 290px
        font-weight: 700
        font-size: 22px
        text-align: center

.login
    &-form
        &__wrapper
            margin: 0 auto 20px
            width: 500px
            padding: 60px 15px 25px
            border: 12px solid $red
            position: relative
            text-align: center
        &__icon
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: -30px
            width: 70px
            img
                width: 100%
        input
            display: block
            margin: 0 auto 10px
            border: 1px solid $lightRed
            padding: 10px
            width: 350px
            font-size: 16px
            font-weight: 700
    &-btn
        margin: 20px auto 0
        span
            &:first-child
                margin-bottom: 0
                font-size: 25px
    &-title
        margin-bottom: 15px
        font-size: 25px
        font-weight: 700
    &-subtitle
        margin-bottom: 20px
        font-size: 17px
        font-weight: 700
    &-remind
        text-align: center
        a
            font-size: 16px
            font-weight: 700
            color: $lightRed
            &:hover
                color: $red
                text-decoration: underline

@media screen and (max-width: 767px)
    .page404
        &-block
            flex-direction: column
            justify-content: center
            align-items: center
        &-img
            width: 100%
            max-width: 500px


@media screen and (max-width: 575px)
    .login
        &-subtitle
            font-size: 15px
        &-title
            font-size: 20px
        &-form
            &__wrapper
                padding: 60px 10px 20px
                width: 100%
        &-btn
            max-width: 350px
            width: 100%
        &-form
            input, .form-input__span
                width: 100%
                max-width: 350px
            .form-checkbox+label
                font-size: 11px
            .login-btn span:first-child, .login-btn span
                font-size: 18px

    .page404
        &-info
            width: 100%
        &-title
            font-size: 40px
        &-btn
            margin: auto
    .page404-btn span:first-child, .page404-btn span
        font-size: 14px


@media screen and (max-width: 374px)
    .login
        &-form
            .form-checkbox+label
                font-size: 9px
            .login-btn span:first-child, .login-btn span
                font-size: 16px





