.page404
    &-title
        margin-bottom: 30px
        text-align: center
        font-size: 50px
        color: $lightRed
        text-transform: uppercase
    &-btn
        span
            font-weight: 700
            font-size: 20px
            &:first-child
                margin-bottom: 5px
                font-size: 20px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &-img
        width: 500px
        img
            width: 100%
    &-info
        width: 400px
    &-descr
        margin: 0 auto 20px
        width: 290px
        font-weight: 700
        font-size: 22px
        text-align: center

.login
    &-form
        &__wrapper
            margin: 0 auto 20px
            width: 500px
            padding: 60px 15px 25px
            border: 12px solid $red
            position: relative
            text-align: center
        &__icon
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: -30px
            width: 70px
            img
                width: 100%
        input
            display: block
            margin: 0 auto 10px
            border: 1px solid $lightRed
            padding: 10px
            width: 350px
            font-size: 16px
            font-weight: 700
    &-btn
        margin: 20px auto 0
        span
            &:first-child
                margin-bottom: 0
                font-size: 25px
    &-title
        margin-bottom: 15px
        font-size: 25px
        font-weight: 700
    &-subtitle
        margin-bottom: 20px
        font-size: 17px
        font-weight: 700
    &-remind
        text-align: center
        a
            font-size: 16px
            font-weight: 700
            color: $lightRed
            &:hover
                color: $red
                text-decoration: underline

.proftest
    &-img
        text-align: center
        margin: 0 auto 25px
        position: relative
        img
            width: 70px
        &::after, &::before
            content: ''
            position: absolute
            height: 5px
            width: 400px
            background: $red
            top: 50%
            transform: translateY(-50%)
        &::after
            right: 0
        &::before
            left: 0
    &-title
        margin-bottom: 15px
        font-size: 22px
        text-align: center
    &-subtitle
        margin-bottom: 20px
        font-size: 17px
        text-align: center
    &-buttons
        display: flex
        align-items: center
        justify-content: space-around
        margin-bottom: 45px
    &-button
        padding: 50px
        font-size: 21px
        color: #fff
        text-align: center
        width: 350px
        font-weight: 700
        background: $lightRed
        cursor: pointer
        transition: background-color .3s, box-shadow .3s, color .3s
        box-shadow: 10px 10px 0 0 $red
        &:hover
            box-shadow: 10px 10px 0 0 $lightYellow
            background: $yellow
            color: $red
    &-answers
        &__text
            margin-bottom: 15px
    &-steps
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    &-step
        display: flex
        align-items: center
        justify-content: center
        margin: 4px
        border: 1px solid $red
        padding: 5px
        width: 35px
        height: 35px
        font-weight: 700
        text-align: center
        &:nth-child(3)
            color: #fff
            background: $lightRed

@media screen and (max-width: 991px)
    .proftest
        &-img
            &::after, &::before
                width: 250px
        &-button
            display: flex
            align-items: center
            justify-content: center
            height: 100px
            font-size: 18px
            width: 300px
            padding: 25px
        &-steps
            justify-content: flex-start

@media screen and (max-width: 767px)
    .page404
        &-block
            flex-direction: column
            justify-content: center
            align-items: center
        &-img
            width: 100%
            max-width: 500px

    .proftest
        &-step
            width: 25px
            height: 25px
        &-title
            font-size: 18px
        &-subtitle
            font-size: 15px
        &-img
            &::after, &::before
                width: 150px
        &-button
            font-size: 17px
            width: 220px
            padding: 15px

@media screen and (max-width: 575px)
    .login
        &-subtitle
            font-size: 15px
        &-title
            font-size: 20px
        &-form
            &__wrapper
                padding: 60px 10px 20px
                width: 100%
        &-btn
            max-width: 350px
            width: 100%
        &-form
            input, .form-input__span
                width: 100%
                max-width: 350px
            .form-checkbox+label
                font-size: 10px
            .login-btn span:first-child, .login-btn span
                font-size: 18px

    .page404
        &-info
            width: 100%
        &-title
            font-size: 40px
        &-btn
            margin: auto
    .page404-btn span:first-child, .page404-btn span
        font-size: 14px

@media screen and (max-width: 499px)
    .proftest
        &-img
            &::after, &::before
                width: 25%
        &-button
            margin-bottom: 25px
        &-buttons
            margin-bottom: 20px
            flex-direction: column
            justify-content: center
            align-items: center

@media screen and (max-width: 374px)
    .login
        &-form
            .form-checkbox+label
                font-size: 9px
            .login-btn span:first-child, .login-btn span
                font-size: 16px





