.whyChoose
    background: url(../img/why-choose/advantages-bg.jpg)
    -webkit-background-size: cover
    background-size: cover
    &-title
        margin-bottom: 30px
        color: #fff
        &::before, &::after
            background: $yellow
    &-list
        color: #fff
    &-item
        display: flex
        align-items: center
        margin-bottom: 15px
        span
            max-width: 650px
            font-size: 18px
            margin-left: 20px